<link rel = "stylesheet" type = "text/css" href = "../../assets/stylesheets/application.css">



<h2>The voter roll</h2>
<p class = "helper">I added this section because it helped me remember what usernames I had registered. If you are logged in, a link to vote, or to see your vote if you've voted already, appears next to your name.</p>

<% if current_voter.nil? %>
<% logged_in_id = 0 %>
<% else logged_in_id = current_voter.id %>
<% end %>

<% @voters.each do |voter| %>
  
    <%= voter.email %>

    <% if voter.id == logged_in_id %>

      <% if voter.vote.nil? %>
      <%= link_to 'Vote now', vote_now_path %><br />
      <% else %>

        <%= link_to 'See how you voted', voter %><br />
      <% end %>
      <% else %> <br>
    <% end %>

<% end %>


<br />

<h2>The Results</h2>


<table>

  <% totalvotes = @votes.count %>

<% if totalvotes > 0 %>

<% @candidates.each do |candidate| %>
  <% votecount = @votes.count {|vote| vote.candidate_id == candidate.id } %> 

  <tr>
    <td><%= candidate.name %></td>
    <td><%= votecount %> votes</td>
    <td><%= 100 * votecount/totalvotes %> percent</td>
 </tr>

<% end %>

</table>

<% end %>  <!-- end of the if test for whether votes have been cast -->

<p><%= @winner %></p>

<br>

<%= link_to 'Add a candidate', new_candidate_path %>
